* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #000;
    color: #111;
    transition: background 0.3s, color 0.3s;
}

/* Header  */
header {
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
    align-items: center;
    position: fixed;
    width: 1005;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.logo span {
    color: #e63946;
}
nav ul, nav ul li {
    font-size: 16px;
    text-decoration: none;
    
}

nav ul {
    display: flex
}

nav ul li {

}

nav ul li a {
     font-size: 48px;
    margin-bottom: 20px;    
}

nav ul li a:hover{
    color: #e63946;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: white;
}

/* Her Section  */
.hero {
    padding: 150px 50px 50px;
    display: flex;
    background: #000;
    font-size: 24px;
}

.content {
    max-width: 50%;
} 
.content h1 {
    text-decoration: ;
}
.content h1 span {
    color: #e63946;
}