* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #000;
    color: #fff;
    transition: background 0.3s, color 0.3s;
}
/* header  */
header {
    display: flex;
    justify-content: space-between;
    background: #111;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.logo span {
    color: #e63946;
}

nav ul, nav ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
}
nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-size: 26px;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #e63946;
}

/* Hero Section  */
.hero {
    padding: 150px 5px 50px;
    justify-content: space-between;
    background: #000;
    
}

.content {
    max-width: 50%;
}

.content h1 {
    font-size: 26px;
    color: #000;
    /* opacity: 0; */
    animation: fadeIn 1s forwards 0.3s;
}

.content h1 span {
     color: #e63946;
}

.content p {
    font-size: 16px;
    line-height: 1.6;
    opacity: 0;
    animation: float 1s forwards 0.6s;
}

.buttons {
    margin-bottom: 20px;
}

.btn-primary {
    display: flex;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    color: #fff;
    align-items: center;
    position: fixed;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    transform: scale(1.1);
}

.btn-secondary {
    display: flex;
    padding: 10px 20px;
    border-radius: 25px;
    color: #444;
    text-decoration: none;    
    transition: 0.6s;
}

.btn-secondary:hover {
     transform: scale(1.1);
}

.social a {
    color: #111;
    padding-left: 0;
    margin-bottom: 0;
}

.band-img img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    animation: fadeIn 3s ease-in-out infinite;
}
/* Section  */
.section {
    padding: 80px 20px;
    text-align: center;
}

.section h2 {
    color: #e63946;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Animateion  */

@keyframes fadeIn {
    to { opacity: 0; }
}

@keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
}

.bounce {
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0px); }
     40% { transform: translateY(-8px); }
     60%  { transform: translateY(-4px); }
}

/* Responsive  */
@media(max-width: 768px ) {
     nav ul {
        /* display: none;  */
        flex-direction: column;
        position: absolute;
        color: #111;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 20px;
     }
     nav ul.active {
        display: flex;
     }
    
     .menu-toogle {
        display: block;
     }
     .hero {
        flex-direction: column;
        text-align: center;
     }

     .content {
        max-width: 100%;
     }
     .social {
        margin-bottom: 20px;
     }

     .band-img img {
        max-width: 400px;
        margin-bottom: 20px;
     }
}

@media(min-width: 1024px){
    .band-img img {
        max-width: 600px;
    }
}