.square {
    width: 50px;
    height: 50px;
    background-color: greenyellow;
    display: flex;
}

.logo {
    display: flex;
    justify-content: baseline;
    font-size: 30px;
    font-weight: bold;
}

.logo span {
    color: #e63946;
}