 body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100px;
     }
          .circle {
            display: flex;
            height: 200px;
            width: 200px;
            border: 5px solid black;
            border-radius: 50%;
            background-color: chartreuse;
            align-items: center;
            justify-content: center;
        }
        .logo {
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }

        .logo span {
            color: #e63946;
            }

        .h2 {
            font-size: 20px;
        }