* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
   width: 100%;   
   padding: 20px 40px;
   background-color: crimson;
}

.main-character {
   width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
   font-size: x-large;
   padding: 10px;
   color: white;
}

.logo span  {
   color: black;
}

.Navbar ul {
     list-style: none;
     display: flex;
     gap: 25px;
 }

.Navbar ul li a{
   text-decoration: none;
   font-size: 18px;
   color: black;
   font-weight: 600;
}

.Navbar ul li a:hover {
   color: chartreuse;
   background: blue;
   border-radius: 5px;
   height: 10dvh;
}
.back-img {
   background-image: url("image5/back.jpg");
   /* width: 100%; */
   height: 100vh;
   background-position: center;
   background-size: cover;
   position: relative;
   background-repeat: no-repeat;
}

.back-img::before{
   content: '';
   position: absolute;
   height: 100%;
   width: 100%;
}

.center{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   padding: 0 20px;
   text-align: center;
}

.center .title {
   font-size: 20px;
   font-weight: 600;
   color: black;
   font-family: serif;
}

.center .subtitle {
   font-size: 24px;
   font-weight: 600;
   color: black;
   font-family: serif;
}