/* .img {
   background-image: url(image5/front.jpg);
   height: 100vh;
   width: 100%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
}
.Code {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 0 20px;
    text-align: center;
}

.Code .h1 {
 font-size: 10px;
 font-weight: 300;
 color: black;
}

.new-one {
    position: absolute;
    top: 10%;
    right: 10%;
    transform: translate(-50% , -50%);
    padding: 0;
    text-align: end;
}

 .new-one 
 .h4 {
    font-size: 5px;
    font-weight: 300;
    color: red; 
    
} */