* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header */
header {
    width: 100%;   
    padding: 10px  ;
    background-color: white; 
    display: flex;
    gap: 20px;
    align-items: baseline;
}


.title {
    display: flex;
    color: green;
    font-size: 24px;
    font-family: sans-serif;
    gap: 20px;
    
}


/* bell  */
.bars {
    font-weight: 300;
    color: blueviolet;
}

/* search box  */
.text {
    font-size: 16px;
    border-radius: 2px  solid white;
    align-items: center;
    border-radius: 10px;

}

/* bell icon  */
.bell {
   color: blueviolet;
    margin-left: auto;
}

/* icon  */
.user {
        display: flex;
        justify-content: space-between;
          color: blueviolet;

}

body {
    background-color: rgb(198, 198, 242);
}


.nav ul li  {
    width: 15%;
    top: 50%;
    padding: 25px;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    margin-left: 30px;
    margin: 0 15px;
    background-color: white;
    height: 70px;
    margin-top: 10px;
}

.nav ul li a{
   color: black;
   /* gap: 20px; */
}
.nav ul li a:hover{
    color: blue;
}
