* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header */
header {
    width: 100%;   
    padding: 10px  ;
    background-color: white; 
    display: inline-flex;
    gap: 20px;
    align-items: baseline;
    position: fixed;
    z-index: 100;
    /* height: 100vh; */
}


.title {
    display: flex;
    color: green;
    font-size: 24px;
    font-family: sans-serif;
    /* gap: 20px; */
    
}

.search-container {
    /* width: 100px; */
    position: relative; /* Essential for positioning the icon inside it */
    display: flex;
    align-items: center; /* Vertically center the input and icon */
    width: 300px; /* Example width for the entire search box */
    border: 1px solid #ccc; /* Add a border to the container, not the input */
    border-radius: 20px;
    overflow: hidden; /* Ensures icon background color doesn't bleed out of rounded corners */
    justify-content: center;
    text-align: center;
}

.search-input {
    /* Remove default input styles like borders/background to be managed by the container */
    border: none;
    background-color: transparent;
    padding: 10px;
     /* Important: Add padding so text doesn't overlap the icon */
    width: 100%;
    box-sizing: border-box; /* Ensures padding/width calculation is correct */
    outline: none; /* Removes the default blue/black outline when focused */
    align-items: center;
}

.search-icon {
    position: relative; /* Position the icon relative to the container */
    right: 0 30px;         /* Place it on the right edge */
    top:  0;
    height: 100%;       /* Make icon height match the input height */
    /* width: 20%; */
    /* Styles for the icon's background color and appearance */
    background-color: blueviolet; 
    /* The desired background color for the icon's area */
    /* color: #333;           Icon color */
    padding: 10px 10px 10px 10px;      
    /* Padding around the icon to give the background area width */
    display: flex;         /* Use flexbox to perfectly center the icon within its own colored box */
    /* align-items: center;
    justify-content: center; */
    /* cursor: pointer; */

}

/* bell  */
.bars {
    font-weight: 300;
    color: blueviolet;
}

/* bell icon  */
.bell {
   color: blueviolet;
    margin-left: auto;
}

/* icon  */
.user {
        display: flex;
        justify-content: space-between;
         color: blueviolet;

}

body {
    background-color: rgb(198, 198, 242);
    overflow: hidden;
    height: 100%;
    position: fixed;
}

/* .mains_layout  */
.main_layout {
    display: flex;
    height: calc(100vh - 80px);

}

/* Left Nav  */

.nav {
   background-color: white;
   width: 15%;
   /* gap: 6px; */
}

.nav ul li  {
    /* top: 50%; */
    /* list-style: none; */
    /* text-decoration: none; */
    font-size: 15px;
    height: 70px; 
    align-items: center;
    display: flex;
    justify-content: center;
    /* gap: 1px; */
}
     
       
.nav ul li a{
   color: black;
   display: flex;
   align-items: center;
   /* gap: 1px; */
}

.nav ul li:hover{
   background-color: blueviolet;
}


/* Rigit Nav */
.rectangle-container {
    /* width: 67%; */
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    /* padding-top: 20px; */
    /* margin-bottom: -20px; */
    margin-left: -1%;
    height: calc(100vh - 60px);
    padding: 100px;
    overflow-y: auto;
    position: relative;
    align-items: flex-start;
    gap: 40px;

}
.shape1, .shape3{
    width: 230px;
    height: 100px;
    background-color: rgb(95, 40, 143);
    color: #fff;
    /* gap: 30px; */
    display: inline-block;
    padding: 10px 10px;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 20px;
    font-size: 30px;
    /* flex-direction: column; */
}
.top_view, .top_view3 {
    display: flex;
    align-items: baseline;
    gap: 30px;
    height: 10px;
}

.view1, .view3 {
    font-size: 10px;
    margin-left: 5%;
    margin-bottom: 10px;

}

.shape2, .shape4{
   width: 230px;
    height: 100px;
    background-color: rgb(150, 78, 213);
    color: #fff;
    /* gap: 30px; */
    display: inline-block;
    padding: 10px 10px;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 15px;
    font-size: 40px;
    flex-direction: column;
}

.top_view2, .top_view4 {
    display: flex;
    align-items: baseline;
    gap: 30px;
    height: 10px;
}

.view2, .view4 {
    font-size: 10px;
    margin-left: 5%;
    margin-bottom: 10px;

}

.articles-container{
    width: 73%;
    height: calc(100vh - 60px);
    display: flex;
    /* flex-direction: row; */
    margin-left: 20%;
    margin-top: -23%;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
}

/* .articles {
   margin-left: 15px;
   padding: 2px;
   font-size: 20px;
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin-right: 10px;
}

.articles .span {
    width: 20px;
    background-color: blueviolet;
    height: 20px;
} */

.head,
.headline,.headline1, .headline2 .headline3, .headline4, .headline5, .headline6{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  width: 100%;
}

.head {
  font-size: 20px;
  font-weight: bold;
  padding-top: 55px;
}

.headline {
  font-size: 15px;
 padding-top: -10%;
}

.headline1{
  font-size: 15px;
 /* padding-top: -9%; */
}

.headline2{
  font-size: 15px;
 /* padding-top: -8%; */
}

.headline3 {
  font-size: 15px;
 /* padding-top: -7%; */
}

.headline4 {
  font-size: 15px;
 /* padding-top: -6%; */
}

.headline5 {
  font-size: 15px;
 /* padding-top: -5%; */
}

.headline6 {
  font-size: 15px;
 /* padding-top: -4%; */
}

/* .head{
      display: grid;
     grid-template-columns: 200px 100px 100px 100px;
     font-weight: bold;
    font-size: 20px;
     margin-top: -35%; */
     /* display: flex; */
     /* justify-content: space-between;
     align-items: center;
     width: 100%;
     padding: 15px 20px;
   
}

.headline{

      display: grid; */
      /* grid-template-columns: 200px 100px 100px 100px; */

    /* width: 100%; */
     /* display: flex; */
   /* grid-template-columns: 200px 100px 100px 100px; FIXED width */
    /* justify-content: space-between;
     font-size: 15px;
     align-items: center;
    padding-top: 10%; */
    /* right: -70%; */
/* } */

/* .headline {
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    padding-left: 20px ;
} */


.Admin {
    width: 100%;
    background-color: blueviolet;
    border: 5px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    padding: 20px 0;
}
