.shape1 {
    width: 200px;
    height: 100px;
    background-color: rgb(0, 8, 255);
    border-radius: 5px ;
    /* text-decoration-color: #fff; */
    margin: 50px;

}
.shape2 {
    width: 200px;
    height: 100px;
    background-color: rgb(231, 208, 253);
    border-radius: 5px ;
    shape-margin: 20px;
    /* text-decoration-color: #fff; */
     margin: 50px;

}
.shape3{
    width: 200px;
    height: 100px;
    background-color: rgb(55, 128, 0);
    border-radius: 5px ;
    /* text-decoration-color: #fff; */
    margin: 50px;
}
.shape4{
    width: 200px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 5px ;
    /* text-decoration-color: #fff; */
    margin: 50px;
}
.shape5 {
    width: 200px;
    height: 100px;
    background-color: rgb(98, 0, 128);
    border-radius: 5px ;
    /* text-decoration-color: #fff; */
    margin: 50px;
}

.shape6 {
     width: 200px;
    height: 100px;
    background-color: lightcoral;
    border-radius: 5px ;
    /* text-decoration-color: #fff; */
    margin: 50px;
}