body {
    background-color: aliceblue;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px;
}
.main-background {
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
}

.continous {
        width: 400px;
        height: 50px;
        background-color: blue;
        text-align: center;    
}
