/* .background-image {
    background-image: url(image5/front.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat; 
}

 .circle {
    height: 500px;
    width: 500px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: white;
}

.image img {
    max-width: 300px;
    position: absolute;
    margin-top: -30%;
    left: 37%;
} */
