 .background-image { 
    background-image: url(image5/back.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

}

 .Navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: end;
 }

 .Navbar ul li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: brown;
}

 .Navbar ul li a:hover {
    color: yellow;
    border-radius: 5px;
    background: green;
 }

 .code {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-30px, -40px);
    padding: 0 15px;
    text-align: left;
    max-width: 480px;
 }

 .code .title {
    font-size: 40px;
    color: black;
    font-weight: bold;
 }

 
 .code .subtitle {
    font-size: 20px;
    color: black;
    font-weight: 200;
 }
 
 .btn {
   margin-top: 10px;

 }

  .code .btn button {
    height: 55px;
    width: 170px;
    border-radius: 10px;
    border: none;
    margin: 0 10px;
    border: 2px solid green;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    background: green;
  }

.band-img {
    position: absolute;
    top: 70px;
    transform: translate(-100px, 80px);
    text-align: right;
    max-width: -150px;
    width: 100%;
    height: auto%;
    border-radius: 10px;
    animation: float 5s ease-in-out infinite;
} 




