* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header */
header {
    width: 100%;   
    padding: 20px 50px ;
    background-color: white; 
    display: flex;
    gap: 20px;
    align-items: baseline;
}


.code {
    display: flex;
    color: green;
    font-size: 24px;
    font-family: sans-serif;
    gap: 20px;
    
}


/* bell  */
.bars {
    font-weight: 300;
    color: blueviolet;
}

/* search box  */
.text {
    font-size: 16px;
    border-radius: 2px  solid white;
    align-items: center;
    border-radius: 10px;

}

/* bell icon  */
.bell {
   color: blueviolet;
    margin-left: auto;
}

/* icon  */
.user {
        display: flex;
        justify-content: space-between;
           color: blueviolet;

}

body {
    background-color: blue;
}