* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif
}

/* header 
header {
   width: 100%;   
   padding: 20px 40px;
   background-color: crimson;
} */

.comment {
   display: flex;
    color: green;
    font-family: sans-serif;
    margin: 20px;
    background-color: white;
    align-items: center;
    padding: 5px 10px;
}

.bar {
  display: inline-block;
  width: auto;
  height: auto;
  margin:  0 20px;
}

body {
  background-color: blue ;
}