* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header */
header {
   width: 100%;   
   height: 100%;
   padding: 20px ;
   background-color: white;
}

.code {
    display: flex;
    color: green;
    font-size: 24px;
    font-family: sans-serif;
    gap: 20px;
}

.bars {
    display: inline-flex;
}
.text {
    /* display: flex; */
    /* border: 20px; */
    /* max-width: 90%;
    width: 420px;
    align-items: center;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    position: relative; */
    /* overflow: hidden; */
     /* border-radius: 20px ; */
    /* margin: 0px; */
     /* text-align: center; */
     /* height: 20px; */
     /* background-color: blue; */
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px 12px;
  font-size: 16px;
  color: #111;
  outline: none;
  margin-left: 50px;
  border-radius:30px;
}

body {
    background-color: blue;
}