*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #000;
    color: #fff;
    transition: background 0.3s, color 0.3s;
}

/* Header  */
.header {
    display: flex;
    justify-content: space-between;
}