* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
body{
    background: #000;
    color: #fff;
    transition: background 0.33s, color 0.3s;
}
/* Header  */
header {
    display: flex;
    justify-content: space-between;
    background: #111;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.logo span {
    color: #e63946;
}

nav ul, nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e63946;
}

.menu-tpggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: white;
}