* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #000;
    color: #fff;
    transition: background 0.3s, color 0.3s;
}

/* header  */
header {
    display: flex;
    justify-content: space-between;
    background: #111;
    padding: 20px 50px;
    align-items: centre;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
 
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.logo span {
    color: #e63946;
}

nav ul, nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #e63946;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: white;
} 

/* Hero section  */
.hero {
    padding: 150px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    max-width: 50%;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    /* opacity: 0;  */
    animation: fadeIn Is forwards 0.3s;

}
.content h1 span {
    color: #e63946;
}

 .content p {
    margin-bottom: 20px;
    line-height: 1.6;
    /* opacity: 0;  */
    animation: fadeIn Is forwards 0;
 }

.bottons {
    margin-bottom: 20px;
}

.btn-primary {
    background: #e63946;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    transform: scale(1.1);
}

.btn-srcondary {
    background: #444;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.btn-srcondary:hover {
    transform: scale(1.1);
}

.social a {
    color: #bbb;
    margin-right: 10px;
    text-decoration: none;
}

.band-img img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    animation: float 3s ease-in-out infinite;
}

/* Section  */
.section {
    padding: 80px 20px;
    text-align: center;   
}

.section h2 {
    margin-bottom: 20px;
    color: #e63946;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
} 

/* Animateion  */
@keyframes fadeIn {
     to {opacity:1; } 
}

@keyframes flaot {
    0%, 1005 { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
}

.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-8px); }
    60% { transform: translat3Y(-4px); }
}

/* Responsive  */
@media (max-width:768px) {
    nav ul {
        /* display: none;  */
        flex-direction: column;
        background: #111;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 20px;
        }

        nav ul.actve {
            display: flex;
        }

        .menu-toggle {
            display: block;
        }

        .hero {
            flex-direction: column;
            text-align: center;
        }

        .content {
            max-width: 100%;
        }
        
        .band-img img {
            max-width: 400px;
            margin-top: 20px;
        }

} 

@media (min-width:1024px) {
    .band-img img {
        max-width: 600px;
    }
}