* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header */
header {
    width: 100%;   
    padding: 10px  ;
    background-color: white; 
    display: inline-flex;
    gap: 20px;
    align-items: baseline;
    position: fixed;
    z-index: 100;
    /* height: 100vh; */
}


.title {
    display: flex;
    color: green;
    font-size: 24px;
    font-family: sans-serif;
    /* gap: 20px; */
    
}

.search-container {
    /* width: 100px; */
    position: relative; /* Essential for positioning the icon inside it */
    display: flex;
    align-items: center; /* Vertically center the input and icon */
    width: 300px; /* Example width for the entire search box */
    border: 1px solid #ccc; /* Add a border to the container, not the input */
    border-radius: 20px;
    overflow: hidden; /* Ensures icon background color doesn't bleed out of rounded corners */
    justify-content: center;
    text-align: center;
}

.search-input {
    /* Remove default input styles like borders/background to be managed by the container */
    border: none;
    background-color: transparent;
    padding: 10px;
     /* Important: Add padding so text doesn't overlap the icon */
    width: 100%;
    box-sizing: border-box; /* Ensures padding/width calculation is correct */
    outline: none; /* Removes the default blue/black outline when focused */
    align-items: center;
}

.search-icon {
    position: relative; /* Position the icon relative to the container */
    right: 0 30px;         /* Place it on the right edge */
    top:  0;
    height: 100%;       /* Make icon height match the input height */
    /* width: 20%; */
    /* Styles for the icon's background color and appearance */
    background-color: blueviolet; 
    /* The desired background color for the icon's area */
    /* color: #333;           Icon color */
    padding: 10px 10px 10px 10px;      
    /* Padding around the icon to give the background area width */
    display: flex;         /* Use flexbox to perfectly center the icon within its own colored box */
    /* align-items: center;
    justify-content: center; */
    /* cursor: pointer; */

}

/* bell  */
.bars {
    font-weight: 300;
    color: blueviolet;
}

/* bell icon  */
.bell {
   color: blueviolet;
    margin-left: auto;
}

/* icon  */
.user {
        display: flex;
        justify-content: space-between;
         color: blueviolet;

}

body {
    background-color: rgb(198, 198, 242);
    overflow: hidden;
    height: 100%;
}

/* .mains_layout  */
.main_layout {
    display: flex;
    height: calc(100vh - 80px);
}

/* Left Nav  */

.nav {
   background-color: white;
   width: 15%;
   gap: 5px;
   padding: 70px;
}

.nav ul li  {
    /* top: 50%; */
    /* list-style: none; */
    /* text-decoration: none; */
    font-size: 18px;
    height: 60px; 
    align-items: center;
    display: flex;
    justify-content: center;
    /* gap: 2px; */
}


.nav ul li a{
   color: black;
   display: flex;
   /* align-items: center; */
   gap: 3px;
}

.nav ul li:hover{
   background-color: blueviolet;
}


/* Rigit Nav */
.rectangle-container {
    margin-top: -25px;
    display: flex;
    flex-direction: row;
    /* padding-top: 20px; */
    /* margin-bottom: -20px; */
    margin-left: -5%;
    height: calc(100vh - 60px);
    padding: 100px;
    overflow-y: auto;
    position: relative;
    align-items: flex-start;
    gap: 50px;

}
.shape1, .shape3{
    width: 250px;
    height: 100px;
    background-color: rgb(95, 40, 143);
    color: #fff;
    /* gap: 30px; */
    display: inline-block;
    padding: 10px 10px;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 20px;
    font-size: 30px;
    /* flex-direction: column; */
}
.top_view, .top_view3 {
    display: flex;
    align-items: baseline;
    gap: 30px;
    height: 10px;
}

.view1, .view3 {
    font-size: 10px;
    margin-left: 5%;
    margin-bottom: 10px;

}

.shape2, .shape4{
   width: 250px;
    height: 100px;
    background-color: rgb(150, 78, 213);
    color: #fff;
    /* gap: 30px; */
    display: inline-block;
    padding: 10px 10px;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 15px;
    font-size: 40px;
    flex-direction: column;
}

.top_view2, .top_view4 {
    display: flex;
    align-items: baseline;
    gap: 30px;
    height: 10px;
}

.view2, .view4 {
    font-size: 10px;
    margin-left: 5%;
    margin-bottom: 10px;

}

.articles-container{
    width: 73%;
    margin-top: -25%;
    background-color: #fff;
    margin-left: 19%;
    display: flex;
    /* padding: 80px; */
    /* position: relative; */
    /* margin-bottom: 20%; */
    height: 300px;
}

.articles{
      font-size: 20px;
      display: inline-flex;
      flex-direction: row;
      /* color: black; */
      /* overflow-y: auto; */
      position: relative;
      /* top: 0px; */
      left: 3%;
      color: blueviolet;
      /* gap: 20px; */
}

.articles1 {
      font-size: 20px;
      display: inline-block;
      flex-direction: row;
      /* color: black; */
      /* overflow-y: auto; */
      position: relative;
      /* top: 0px; */
      right: -80%;
      color: blueviolet;
      /* gap: 20px; */
}

.A{
    font-size: 20px;
    display: inline-block;
    /* margin-left: -100px; */
    /* padding: 10px; */
    top: -30px;
    margin-top: 50px;
    /* left: 10px; */   
     /* margin-left: -100px 20px; */
     /* gap: 50px; */
     padding-right: 150px;
     
 }

.nav1 ul li {
     display: inline-block;
     list-style: none;
     position: relative;
       margin-left: 155px;
       /* gap: 10px; */

}
.nav1 ul li a{
    font-size: 18px;
    align-items: start;
    display: flex;
    text-decoration: none;
    color: black;
    margin-left: -170px;
    /* padding:  -3px ; */
    /* top: -5px; */
}

.v{
    font-size: 20px;
    display: inline-block;
    margin-left: -170px;
    /* padding: 10px; */
    margin-top: 50px;
        /* margin-left: -100px 20px; */
  /* gap: 30px; */
  /* padding-left: 50px; */
 }

.nav2 ul li {
     display: flex;
     list-style: none;
     position: relative;
    margin-left: 135px;
    top: 80px;
}

.nav2 ul li a{
    font-size: 18px;
    align-items: start;
    display: flex;
    text-decoration: none;
    color: black;
    margin-left: -170px;
    /* padding:  -3px ; */
    /* top: -5px; */
}


.C{
    font-size: 20px;
    display: inline-block;
    /* margin-left: -170px; */
    padding: 0 20px;
    margin-top: 50px;
    /* margin-left: -100px 20px; */
    padding-left: 70px;
    /* padding-right: 0 10px; */
 }

.nav3 ul li {
     display: flex;
     list-style: none;
     margin-left: 115px;
    position: relative;
    top: 90px;
}

.nav3 ul li a{
    font-size: 18px;
    align-items: start;
    display: flex;
    text-decoration: none;
    color: black;
    margin-left: -170px;
    /* padding:  -3px ; */
    /* top: -5px; */
}

.S{
    font-size: 20px;
    display: inline-block;
    margin-left: 90px;
    /* padding-right: 350px ; */
    margin-top: 50px;
        /* margin-left: 100px 20px; */
    /* padding-right: 40px; */
    /* gap: 10px; */
 }

.nav4 ul li {
     display: inline-block;
     list-style: none;
     /* margin-top: px; */
    /* padding: 5px ; */
           /* margin-left: 90px; */
   position: relative;
   top: 90px;
}
.nav4 ul li a{
    font-size: 18px;
    align-items: start;
    display: flex;
    text-decoration: none;
    color: black;
    /* margin-left: -170px; */
    /* padding:  -3px ; */
    /* top: -5px; */
         /* top: -50px; */
    /* border-radius: 4px; */
    /* width: 20px; */
}

.Admin {
    width: 100%;
    line-height: var(-30px);
    background-color: blueviolet;
    border: 5px solid black;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 71px;
}
