* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 
body {
    background: #000;
    color: #fff;
    transition: backgrounnd 0.3s, color 0.3s;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    background: #111;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.logo span {
    color: #e63946;
}
nav ul, nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a:hover {
    color: #e63946;
}
.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: white;
}
/* Hero Section  */
.hero {
    padding: 150px 50px 50px;
}

.content {
    max-width: 50%;
}
.band-img img {
    max-width: 400px;
}